Q1. Find out all the types of error that we have encountered in our lecture and why? Also include the examples.

In [37]:
#1 Error: NameError: name 'Print' is not defined 
#which means python is case sensitive for keywords
Print("Good Evening")

NameError: name 'Print' is not defined

In [3]:
#2 Error: SyntaxError: Missing parentheses in call to 'print'. Did you mean print("Good Evening")?
print "Good Evening"

SyntaxError: Missing parentheses in call to 'print'. Did you mean print("Good Evening")? (4121108467.py, line 2)

In [4]:
#3 Error: SyntaxError: EOL while scanning string literal
print("Good 
Evening")

SyntaxError: EOL while scanning string literal (77177917.py, line 2)

In [5]:
#4 Error: SyntaxError: invalid syntax
print("Hi my name is "Sunny" ")

SyntaxError: invalid syntax (3138761342.py, line 2)

In [6]:
#5 Error: SyntaxError: invalid syntax
#Variable names should not contain any special characters like ^ % $ ! @ # ^ & * ( )
ten* = 10

SyntaxError: invalid syntax (3303173551.py, line 3)

In [8]:
#6 Error: SyntaxError: cannot assign to operator 
# as above special character % can be used in variable  
ten%number = 10

SyntaxError: cannot assign to operator (2475012721.py, line 3)

In [10]:
#7 Error: SyntaxError: invalid syntax
#Variable names can contain numbers but you can't start with numbers
10ten = 10

SyntaxError: invalid syntax (2371528886.py, line 3)

In [15]:
#8 Error: SyntaxError: invalid syntax
# space cannot be used while assigning a variable or in variable name
ten number = 10

SyntaxError: invalid syntax (161367238.py, line 3)

In [14]:
#9 Error: TypeError: can only concatenate str (not "int") to str
# In python we can not concatenate int and string in simple language we can not add string and integer
"Day " + 1

TypeError: can only concatenate str (not "int") to str

In [17]:
#10 Error: NameError: name 'Ten' is not defined
# As python is case sensitive and ten is not as same as Ten (as a variable)
ten=10
print(Ten)

NameError: name 'Ten' is not defined

In [18]:
print = "hi"

In [20]:
#11 Error: TypeError: 'str' object is not callable
# As we have defined print as variable name so reserved keyword print is str which is not callable in pthon
print("hi")

TypeError: 'str' object is not callable

In [21]:
del print # delete the variable print
          # this del statement is compulsory in order to use print as keyword

In [22]:
print("hi")

hi

In [24]:
#12 Error: ValueError: invalid literal for int() with base 10: '10.2'
# As we have assigned value of B as float data type
A = float(input("Enter value of A: "))
B = int(input("Enter value of B: ")) # 10.2 is float but converting to int

print(f"Sum of A and B is: {A+B}")

Enter value of A: 10.2
Enter value of B: 10.2

ValueError: invalid literal for int() with base 10: '10.2'

In [26]:
#13 Error: ValueError: invalid literal for int() with base 10: '50.2
# String to integer
A = "50.22"                                               # entering string
print(f"data type before: {type(A)}, value of A: {A}")
A = int(A)                                                # trying to convert into integer
print(f"data type after: {type(A)}, value of A: {A}")

data type before: <class 'str'>, value of A: 50.22

ValueError: invalid literal for int() with base 10: '50.22'

In [28]:
#14 Error: ValueError: invalid literal for int() with base 10: ''
# empty string to int
A = ""
print(f"data type before: {type(A)}, value of A: {A}")
A = int(A)
print(f"data type after: {type(A)}, value of A: {A}")

data type before: <class 'str'>, value of A:

ValueError: invalid literal for int() with base 10: ''

Q2. Take input A and B and print their sum, mul, div, square of the numbers

In [29]:
A = int(input("Enter a integer A : "))
B = int(input("Enter a integer B : "))
print(f"""Sum of A and B: {A+B}
Product of A and B:{A*B}
Division of A/B:{A/B}
Sqaure of A:{A**2}
Sqaure of B:{B**2}""")

Enter a integer A : 5
Enter a integer B : 3
Sum of A and B: 8
Product of A and B:15
Division of A/B:1.6666666666666667
Sqaure of A:25
Sqaure of B:9

Q3. How many reserve keywords are there in python and why we should not use them as a variable name

Ans. False	def	     if 	    raise
     None   del	     import	    return
     True	elif     in	        try
     and	else     is	        while
     as	    except	 lambda	    with
     assert	finally	 nonlocal   yield
     break	for	     not
     class	form	 or
     global	pass     continue
  
  There are total 33 reserved keywords in python

Q4. Create email ids with the user inputs. in the following format - lastname.firstname@gmail.com

In [30]:
firstn = input("Enter your first name : ")
lastn = input("Enter your last name : ")
a = firstn.lower()
b = lastn.lower()
print(f"Your email Id is: {b}.{a}@gmail.com")

Enter your first name : Gaurav
Enter your last name : mehra
Your email Id is: mehra.gaurav@gmail.com

Q5. Try to print the following lines -
Hi I'm Sunny
My address is 22\3
I earn 20$ daily.

In [32]:
print("""Hi I'm Sunny
My address is 22\3
I earn 20$ daily.""")

Hi I'm Sunny
My address is 22
I earn 20$ daily.

Q6. Take user input (name, address, date of birth etc) to fill a form for your college and print their email IDs

In [33]:
fname = input("Enter your first name: ")
lname = input('Enter your last name: ')
address = input('Enter your Address: ')
date = int(input("Enter your DOB's date: "))
month = int(input("Enter your DOB's month: "))
year = int(input("Enter your DOB's year: "))
f=fname.lower()
l=lname.lower()
print(f"""Name: {fname} {lname}
Address: {address}
DOB: {date}|{month}|{year}
Email Id: {f}.{l}@gmail.com""")

Enter your first name: Gaurav
Enter your last name: Mehra
Enter your Address: Nainital
Enter your DOB's date: 25
Enter your DOB's month: 05
Enter your DOB's year: 2000
Name: Gaurav Mehra
Address: Nainital
DOB: 25|5|2000
Email Id: gaurav.mehra@gmail.com

Q7. Convert the following -
"22.4" into integer
"22" into complex no.

In [34]:
#1 "22.4" into integer
s="22.4"
print(f"type of s = {s} is {type(s)} ")
s=float(s)
s=int(s)
print(f"type of (after type casting or coversion) s = {s} is {type(s)} ")

type of s = 22.4 is <class 'str'>
type of (after type casting or coversion) s = 22 is <class 'int'>

In [36]:
#2 "22" into complex
s1="22"
print(f"type of s1 = {s1} is {type(s1)} ")
s1=int(s1)
s1=complex(s1)
print(f"type of (after type casting or coversion) s1 = {s1} is {type(s1)} ")

type of s1 = 22 is <class 'str'>
type of (after type casting or coversion) s1 = (22+0j) is <class 'complex'>